<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	<meta charset="UTF-8" />
	<meta name="description" content="Official profile of Ismael Correa Castro, a scientist inventor and an engineer, explaining his central inventions, the Scifir Foundation, which he founded, among other information of him" />
	<meta name="keywords" content="profile,science,scientist,inventor,inventions,physics,chemistry,biology,informatics,genetics,creational biology,homunculous,genetic engineering,science fiction" />
	<meta name="author" content="Ismael Correa Castro (ORCID 0009-0007-3815-7053, RUN 17.705.429-1)" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/reset.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/cv.css" />
</head>
<body>
	<div id="header">
		<h2>Ismael Correa Castro Profile</h2>
		<p><strong>Scientist</strong>, mainly inventor</p>
		<a href="mailto:ismael.correa.castro@gmail.com" id="header_email_icon"><img src="{{ site.baseurl }}/assets/email-icon.png" alt="Send e-mail to Ismael Correa Castro" /></a>
		<a href="https://github.com/Iarfen"><img src="{{ site.baseurl }}/assets/github-icon.png" alt="GitHub profile of Ismael Correa Castro" /></a>
	</div>
	<div id="body">
		<div id="sidebar">
			<img src="{{ site.baseurl }}/assets/images/ismael-correa-photo.png" alt="Ismael Correa Castro during in her 20s" />
			<div><div>E-MAIL</div><a href="mailto:ismael.correa.castro@gmail.com" class="text_link">ismael.correa.castro@gmail.com</a></div>
			<div><div>ORCID</div><a href="https://orcid.org/0009-0007-3815-7053" class="text_link">0009-0007-3815-7053</a></div>
			<div><div>GITHUB</div><a href="https://github.com/Iarfen" class="text_link">iarfen</a></div>
			<div><div>FOUNDER OF</div><a href="https://github.com/scifir" class="text_link">Scifir</a></div>
		</div>
		<div id="content">
			<span id="content_last_update">Last update: 2023-08-25</span>
			{{ content }}
		</div>
	</div>
	<div id="footer">
		<h2>Ismael Correa Castro Profile</h2>
		<a href="mailto:ismael.correa.castro@gmail.com" id="footer_email_icon"><img src="{{ site.baseurl }}/assets/email-icon.png" alt="Send e-mail to Ismael Correa Castro" /></a>
		<a href="https://github.com/Iarfen" id="footer_github_icon"><img src="{{ site.baseurl }}/assets/github-icon.png" alt="GitHub profile of Ismael Correa Castro" /></a>
		<p id="footer_presentation">Hello! I'm <a href="https://github.com/Iarfen" class="text_link">Ismael Correa Castro</a> and I've created this website to introduce myself to any person, mainly scientists and informatics, that read about my inventions and ideas, that I'm publishing inside my foundation called <strong>Scifir</strong>, among other places.
		<br/>
		<br/>
		Feel free to contact me by e-mail for any purpose related to science.</p>
	</div>
</body>
</html>
